<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.177298629480-4ddd096opvtpbsf13t9gdktujkls99i9</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>177298629480-4ddd096opvtpbsf13t9gdktujkls99i9.apps.googleusercontent.com</string>
	<key>GIDServerClientID</key>
	<string>177298629480-vsds0f8e9g3al5qqgu2nnojmqpvk1vqr.apps.googleusercontent.com</string>
</dict>
</plist>
